<?xml version="1.0"?>
<!--
/**
 * @author DeckCommerce Team
 * @copyright Copyright (c) 2023 DeckCommerce (https://www.deckcommerce.com)
 * @package DeckCommerce_Integration
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="deck_order_checkout_submit_all_after" instance="DeckCommerce\Integration\Observer\AfterOrderSubmit"/>
    </event>
    <event name="paypal_express_place_order_success">
        <observer name="deck_order_paypal_express_place_order_success" instance="DeckCommerce\Integration\Observer\AfterOrderSubmit"/>
    </event>
    <event name="cybersource_order_submit_after">
        <observer name="deck_order_cybersource_order_submit_after" instance="DeckCommerce\Integration\Observer\AfterOrderSubmit"/>
    </event>
    <event name="amazon_pay_place_order_success">
        <observer name="deck_order_amazon_pay_place_order_success" instance="DeckCommerce\Integration\Observer\AfterOrderSubmit"/>
    </event>
    <event name="affirm_place_order_success">
        <observer name="deck_order_affirm_place_order_success" instance="DeckCommerce\Integration\Observer\AfterOrderSubmit"/>
    </event>
    <event name="sales_quote_address_collect_totals_after">
        <observer name="deck_apply_delivery_tax" instance="DeckCommerce\Integration\Observer\ApplyDeliveryTax"/>
    </event>
    <event name="sales_model_service_quote_submit_before">
        <observer name="deck_sales_model_service_quote_submit_before" instance="DeckCommerce\Integration\Observer\DeliveryTaxObserver" />
    </event>
</config>
